# Copyright (c) 2021 Boris Zhenikhov


name: build

on:
  - push

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Linting
        run: |
          python -m pip install --upgrade pip
                    pip install poetry
                    make install
  # Тесты должны выполняться при каждом запуске workflow
  Test:
    needs: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          make install

      - name: Tests
        run: make test

      - name: Publish test code coverage
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: dcdce883235c9dce723a8dddaec471291d72c67e3bb0016617d8a59c5394c6e7